BRAZE_APP_ID=
BRAZE_API_KEY=
BRAZE_REST_ENDPOINT=https://rest.fra-01.braze.eu
EMAIL_RENDERING_ENDPOINT=http://email-rendering.guardianapis.com
BRAZE_TEST_EMAIL_FROM="dev testing <dev-testing@email.theguardian.com>"
BRAZE_TEST_EMAIL_REPLY_TO=NO_REPLY_TO

PROVIDER_REQUEST_TIMEOUT_MS=10000

# DB CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dispatchdb
DB_USERNAME=dispatchuser
DB_PASSWORD=dispatchpw
