BRAZE_TEST_EMAIL_FROM="dev testing <dev-testing@email.theguardian.com>"
BRAZE_API_KEY=
BRAZE_REST_ENDPOINT=https://rest.fra-01.braze.eu
BRAZE_APP_ID=
BRAZE_TEST_EMAIL_REPLY_TO=NO_REPLY_TO
EMAIL_RENDERING_ENDPOINT=http://email-rendering.guardianapis.com
PROVIDER_REQUEST_TIMEOUT_MS=10000
